/* FOOTER START */

.footer {
  margin-top: auto;
}

.navFooter {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;

}

.btnFooter {
  background: #e9e8e8;
  border-style: hidden;
}

/* FOOTER END */